apiVersion: 1
datasources:
  - name: Elasticsearch    
    type: elasticsearch
    access: proxy
    url: "https://{{ hostvars[groups['elk'][0]]['ansible_host'] }}:9200"
    basicAuth: true
    basicAuthUser: elastic
    jsonData:
      elasticsearchVersion: '9.1.2'
      tlsAuthWithCACert: true
      timeField: "@timestamp"
    secureJsonData:
      tlsCACert: |
        {{ ca_cert_content | indent(8) }}
      basicAuthPassword: "{{ elastic_password }}"

