[Service]
User=filebeat
Group=filebeat
ExecStart=
ExecStart=/usr/share/filebeat/bin/filebeat --environment systemd --path.config /etc/filebeat --path.data /var/lib/filebeat --path.home /usr/share/filebeat --path.logs /var/log/filebeat
