# Временный конфигурационный файл ТОЛЬКО для команды 'filebeat setup'
# Этот файл НЕ должен использоваться для работающего сервиса.

# Включение модуля system, чтобы setup знал, какие активы нужно создать.

filebeat.modules:
- module: system
  syslog:
    enabled: true
  auth:
    enabled: true

# Указание на Elasticsearch с привилегированными учетными данными.
# Эти данные должны передаваться через Ansible Vault.

output.elasticsearch:
  hosts: ["https://{{ hostvars[groups['elk'][0]]['ansible_host'] }}:9200"]
  username: elastic
  password: "{{ elastic_password }}"
  ssl:
    enabled: true
    certificate_authorities: ["/etc/filebeat/certs/ca.crt"]

# Указание на Kibana для загрузки дашбордов.
setup.kibana:
  host: "https://{{ hostvars[groups['master'][0]]['ansible_host'] }}:5601"
  ssl:
    enabled: true
    certificate_authorities: ["/etc/filebeat/certs/ca.crt"]
